# Data Base file
*.db

# OPENDB file
*.opendb

# Microsoft Visual Studio Solution
*.sln
.vs/

# Debug folder
Debug/

# Incremental Linker File
*.ilk

# Application program
*.exe

# Program debug Database
*.pdb

# VC++ Project
*.filters
*.vcxproj

# per-User Project Options File
*.user